<header class="site-header">

  <div class="wrapper">

    <h1>
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </h1>
    <div class="links">
      {% for my_page in site.pages %} {% if my_page.title %}
      <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
      {% endif %} {% endfor %}
    </div>

  </div>

</header>