body {
    image-rendering: pixelated;
    background: url("../assets/img/tiles_1.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    color: $text-color;
    .wrapperwrapper {
        padding-top: 10px;
        @include media-query($smaller-than-content) {
            padding-top: initial;
        }
        .pagewrapper {
            width: $content-width;
            margin: 0 auto 0 auto;
            border: 1px $grey-color-light solid;
            background-color: #00000088;
            padding: 10px;
            @include media-query($smaller-than-content) {
                width: 100%;
                border: 0;
                padding: initial;
            }
        }
    }
}

@mixin header {
    text-transform: lowercase;
    a, a:hover, a:visited, a:link, a:active {
        color: $text-color;
        text-decoration: none;
    }
    display: inline;
}

h1, h2 {
    @include header;
}

.links {
    @include header;
    float: right;
}

footer {
    margin: auto;
    text-align: center;
}