<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <div class="wrapperwrapper">
    <div class="pagewrapper">

      {% include header.html %}

      <div class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </div>
</body>

</html>